<a href="https://colab.research.google.com/github/pauloestevao0/atmo_teste/blob/main/python/CSGO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install mysql.connector
!pip install pandas
!pip install datetime
!pip install logging

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     |████████████████████████████████| 11.9 MB 5.0 MB/s
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py) ... done
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp37-cp37m-linux_x86_64.whl size=247965 sha256=09447f729cd2327bec02f3fdf9c3762dcd027b8c8d781c4991edb52b8e53d37b
  Stored in directory: /root/.cache/pip/wheels/42/2f/c3/692fc7fc1f0d8c06b9175d94f0fc30f4f92348f5df5af1b8b7
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting datetime
  Downloading DateTime-4.7-py2.py3-none-any.whl (52 kB)
     |████████████████████████████████| 52 kB 814 kB/s
Collecting zope.interface
  Downloading zope.interface-5.5.1-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (254 kB)
     |████████████████████████████████| 254 kB 10.0 MB/s
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from datetime) (2022.6)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from zope.interface->datetime) (57.4.0)
Installing collected packages: zope.interface, datetime
Successfully installed datetime-4.7 zope.interface-5.5.1
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting logging
  Downloading logging-0.4.9.6.tar.gz (96 kB)
     |████████████████████████████████| 96 kB 2.4 MB/s
WARNING: Discarding https://files.pythonhosted.org/packages/93/4b/979db9e44be09f71e85c9c8cfc42f258adfb7d93ce01deed2788b2948919/logging-0.4.9.6.tar.gz#sha256=26f6b50773f085042d301085bd1bf5d9f3735704db9f37c1ce6d8b85c38f2417 (from https://pypi.org/simple/logging/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
ERROR: Could not find a version that satisfies the requirement logging (from versions: 0.4.9.6)
ERROR: No matching distribution found for logging

In [5]:
import mysql.connector
import pandas as pd
import datetime
import logging

start = datetime.datetime.now()

#acessando db mysql
url = "atmo-db.cncfsgdjnfjz.sa-east-1.rds.amazonaws.com"
schema = "CSGO"
usuario = "candidato"
senha = "analista_atmo"

con = mysql.connector.connect (host = url, database = schema, user = usuario, password = senha)

#querys para tabela 
players = "SELECT * FROM tb_players" 
medalha = "SELECT * FROM tb_medalha"
lobby_stats = "SELECT * FROM tb_lobby_stats_player"
players_medalhas = "SELECT * FROM tb_players_medalha"
personal_query = ""

cursor = con.cursor(named_tuple=True)
cursor.execute(players_medalhas)
result_pm = cursor.fetchall()
cursor.close()

cursor = con.cursor(named_tuple=True)
cursor.execute(players)
result_p = cursor.fetchall()
cursor.close()

cursor = con.cursor(named_tuple=True)
cursor.execute(medalha)
result_m = cursor.fetchall()
cursor.close()

cursor = con.cursor(named_tuple=True)
cursor.execute(lobby_stats)
result_lb = cursor.fetchall()
cursor.close()


df_resultado_pm = pd.DataFrame(result_pm)
df_resultado_p = pd.DataFrame(result_p)
df_resultado_m = pd.DataFrame(result_m)
df_resultado_lb = pd.DataFrame(result_lb)

#convertendo para snake_case
df_resultado_pm.columns = [s.replace('A','_a') for s in df_resultado_pm.columns]
df_resultado_pm.columns = [s.replace('B','_b') for s in df_resultado_pm.columns]
df_resultado_pm.columns = [s.replace('C','_c') for s in df_resultado_pm.columns]
df_resultado_pm.columns = [s.replace('D','_d') for s in df_resultado_pm.columns]
df_resultado_pm.columns = [s.replace('E','_e') for s in df_resultado_pm.columns]
df_resultado_pm.columns = [s.replace('F','_f') for s in df_resultado_pm.columns]
df_resultado_pm.columns = [s.replace('G','_g') for s in df_resultado_pm.columns]
df_resultado_pm.columns = [s.replace('H','_h') for s in df_resultado_pm.columns]
df_resultado_pm.columns = [s.replace('I','_i') for s in df_resultado_pm.columns]
df_resultado_pm.columns = [s.replace('J','_j') for s in df_resultado_pm.columns]
df_resultado_pm.columns = [s.replace('K','_k') for s in df_resultado_pm.columns]
df_resultado_pm.columns = [s.replace('L','_l') for s in df_resultado_pm.columns]
df_resultado_pm.columns = [s.replace('M','_m') for s in df_resultado_pm.columns]
df_resultado_pm.columns = [s.replace('N','_n') for s in df_resultado_pm.columns]
df_resultado_pm.columns = [s.replace('O','_o') for s in df_resultado_pm.columns]
df_resultado_pm.columns = [s.replace('P','_p') for s in df_resultado_pm.columns]
df_resultado_pm.columns = [s.replace('Q','_q') for s in df_resultado_pm.columns]
df_resultado_pm.columns = [s.replace('R','_r') for s in df_resultado_pm.columns]
df_resultado_pm.columns = [s.replace('S','_s') for s in df_resultado_pm.columns]
df_resultado_pm.columns = [s.replace('T','_t') for s in df_resultado_pm.columns]
df_resultado_pm.columns = [s.replace('U','_u') for s in df_resultado_pm.columns]
df_resultado_pm.columns = [s.replace('V','_v') for s in df_resultado_pm.columns]
df_resultado_pm.columns = [s.replace('W','_w') for s in df_resultado_pm.columns]
df_resultado_pm.columns = [s.replace('X','_x') for s in df_resultado_pm.columns]
df_resultado_pm.columns = [s.replace('Y','_y') for s in df_resultado_pm.columns]
df_resultado_pm.columns = [s.replace('Z','_z') for s in df_resultado_pm.columns]
df_resultado_p.columns = [s.replace('A','_a') for s in df_resultado_p.columns]
df_resultado_p.columns = [s.replace('B','_b') for s in df_resultado_p.columns]
df_resultado_p.columns = [s.replace('C','_c') for s in df_resultado_p.columns]
df_resultado_p.columns = [s.replace('D','_d') for s in df_resultado_p.columns]
df_resultado_p.columns = [s.replace('E','_e') for s in df_resultado_p.columns]
df_resultado_p.columns = [s.replace('F','_f') for s in df_resultado_p.columns]
df_resultado_p.columns = [s.replace('G','_g') for s in df_resultado_p.columns]
df_resultado_p.columns = [s.replace('H','_h') for s in df_resultado_p.columns]
df_resultado_p.columns = [s.replace('I','_i') for s in df_resultado_p.columns]
df_resultado_p.columns = [s.replace('J','_j') for s in df_resultado_p.columns]
df_resultado_p.columns = [s.replace('K','_k') for s in df_resultado_p.columns]
df_resultado_p.columns = [s.replace('L','_l') for s in df_resultado_p.columns]
df_resultado_p.columns = [s.replace('M','_m') for s in df_resultado_p.columns]
df_resultado_p.columns = [s.replace('N','_n') for s in df_resultado_p.columns]
df_resultado_p.columns = [s.replace('O','_o') for s in df_resultado_p.columns]
df_resultado_p.columns = [s.replace('P','_p') for s in df_resultado_p.columns]
df_resultado_p.columns = [s.replace('Q','_q') for s in df_resultado_p.columns]
df_resultado_p.columns = [s.replace('R','_r') for s in df_resultado_p.columns]
df_resultado_p.columns = [s.replace('S','_s') for s in df_resultado_p.columns]
df_resultado_p.columns = [s.replace('T','_t') for s in df_resultado_p.columns]
df_resultado_p.columns = [s.replace('U','_u') for s in df_resultado_p.columns]
df_resultado_p.columns = [s.replace('V','_v') for s in df_resultado_p.columns]
df_resultado_p.columns = [s.replace('W','_w') for s in df_resultado_p.columns]
df_resultado_p.columns = [s.replace('X','_x') for s in df_resultado_p.columns]
df_resultado_p.columns = [s.replace('Y','_y') for s in df_resultado_p.columns]
df_resultado_p.columns = [s.replace('Z','_z') for s in df_resultado_p.columns]
df_resultado_m.columns = [s.replace('A','_a') for s in df_resultado_m.columns]
df_resultado_m.columns = [s.replace('B','_b') for s in df_resultado_m.columns]
df_resultado_m.columns = [s.replace('C','_c') for s in df_resultado_m.columns]
df_resultado_m.columns = [s.replace('D','_d') for s in df_resultado_m.columns]
df_resultado_m.columns = [s.replace('E','_e') for s in df_resultado_m.columns]
df_resultado_m.columns = [s.replace('F','_f') for s in df_resultado_m.columns]
df_resultado_m.columns = [s.replace('G','_g') for s in df_resultado_m.columns]
df_resultado_m.columns = [s.replace('H','_h') for s in df_resultado_m.columns]
df_resultado_m.columns = [s.replace('I','_i') for s in df_resultado_m.columns]
df_resultado_m.columns = [s.replace('J','_j') for s in df_resultado_m.columns]
df_resultado_m.columns = [s.replace('K','_k') for s in df_resultado_m.columns]
df_resultado_m.columns = [s.replace('L','_l') for s in df_resultado_m.columns]
df_resultado_m.columns = [s.replace('M','_m') for s in df_resultado_m.columns]
df_resultado_m.columns = [s.replace('N','_n') for s in df_resultado_m.columns]
df_resultado_m.columns = [s.replace('O','_o') for s in df_resultado_m.columns]
df_resultado_m.columns = [s.replace('P','_p') for s in df_resultado_m.columns]
df_resultado_m.columns = [s.replace('Q','_q') for s in df_resultado_m.columns]
df_resultado_m.columns = [s.replace('R','_r') for s in df_resultado_m.columns]
df_resultado_m.columns = [s.replace('S','_s') for s in df_resultado_m.columns]
df_resultado_m.columns = [s.replace('T','_t') for s in df_resultado_m.columns]
df_resultado_m.columns = [s.replace('U','_u') for s in df_resultado_m.columns]
df_resultado_m.columns = [s.replace('V','_v') for s in df_resultado_m.columns]
df_resultado_m.columns = [s.replace('W','_w') for s in df_resultado_m.columns]
df_resultado_m.columns = [s.replace('X','_x') for s in df_resultado_m.columns]
df_resultado_m.columns = [s.replace('Y','_y') for s in df_resultado_m.columns]
df_resultado_m.columns = [s.replace('Z','_z') for s in df_resultado_m.columns]
df_resultado_lb.columns = [s.replace('A','_a') for s in df_resultado_lb.columns]
df_resultado_lb.columns = [s.replace('B','_b') for s in df_resultado_lb.columns]
df_resultado_lb.columns = [s.replace('C','_c') for s in df_resultado_lb.columns]
df_resultado_lb.columns = [s.replace('D','_d') for s in df_resultado_lb.columns]
df_resultado_lb.columns = [s.replace('E','_e') for s in df_resultado_lb.columns]
df_resultado_lb.columns = [s.replace('F','_f') for s in df_resultado_lb.columns]
df_resultado_lb.columns = [s.replace('G','_g') for s in df_resultado_lb.columns]
df_resultado_lb.columns = [s.replace('H','_h') for s in df_resultado_lb.columns]
df_resultado_lb.columns = [s.replace('I','_i') for s in df_resultado_lb.columns]
df_resultado_lb.columns = [s.replace('J','_j') for s in df_resultado_lb.columns]
df_resultado_lb.columns = [s.replace('K','_k') for s in df_resultado_lb.columns]
df_resultado_lb.columns = [s.replace('L','_l') for s in df_resultado_lb.columns]
df_resultado_lb.columns = [s.replace('M','_m') for s in df_resultado_lb.columns]
df_resultado_lb.columns = [s.replace('N','_n') for s in df_resultado_lb.columns]
df_resultado_lb.columns = [s.replace('O','_o') for s in df_resultado_lb.columns]
df_resultado_lb.columns = [s.replace('P','_p') for s in df_resultado_lb.columns]
df_resultado_lb.columns = [s.replace('Q','_q') for s in df_resultado_lb.columns]
df_resultado_lb.columns = [s.replace('R','_r') for s in df_resultado_lb.columns]
df_resultado_lb.columns = [s.replace('S','_s') for s in df_resultado_lb.columns]
df_resultado_lb.columns = [s.replace('T','_t') for s in df_resultado_lb.columns]
df_resultado_lb.columns = [s.replace('U','_u') for s in df_resultado_lb.columns]
df_resultado_lb.columns = [s.replace('V','_v') for s in df_resultado_lb.columns]
df_resultado_lb.columns = [s.replace('W','_w') for s in df_resultado_lb.columns]
df_resultado_lb.columns = [s.replace('X','_x') for s in df_resultado_lb.columns]
df_resultado_lb.columns = [s.replace('Y','_y') for s in df_resultado_lb.columns]
df_resultado_lb.columns = [s.replace('Z','_z') for s in df_resultado_lb.columns]

def show_tables():
  display(df_resultado_pm)
  display(df_resultado_p)
  display(df_resultado_m)
  display(df_resultado_lb)

def export_tables():
#exportando arquivos para CSV
  df_resultado_pm.to_csv(r'C:\Users\Public\Downloads\player_medals.csv', index=False)
  df_resultado_p.to_csv(r'C:\Users\Public\Downloads\players.csv', index=False)
  df_resultado_m.to_csv(r'C:\Users\Public\Downloads\medals.csv', index=False)
  df_resultado_lb.to_csv(r'C:\Users\Public\Downloads\lobbystats.csv', index=False)

def main():
  print("Inicializando o processo de captura de dados - {}".format(start))
  print("Processo finalizado com sucesso - {}".format(datetime.datetime.now()))
  cursor.close()
  con.close()
  show_tables()
  export_tables()



main()

Inicializando o processo de captura de dados - 2022-11-13 18:17:04.422529

,id,id_player,id_medal,dt_created_at,dt_expiration,dt_remove,fl_active
0,1,1982,1,2018-10-04,2016-07-23,2016-07-24,0
1,2,1982,1,2018-12-12,2017-01-11,2017-01-12,0
2,3,1982,1,2019-01-08,2017-03-16,2017-03-17,0
3,4,1982,1,2018-12-09,2017-09-10,2017-09-11,0
4,5,1982,1,2018-10-04,2018-03-19,2018-03-20,0
...,...,...,...,...,...,...,...
32695,26407,1478,32,2020-03-16,None,None,1
32696,26630,431,32,2020-02-16,None,None,1
32697,26704,2326,32,2020-03-13,None,None,1
32698,26810,1657,32,2019-11-07,None,None,1
32699,26911,1463,32,2019-11-08,None,None,1

,id_player,fl_facebook,fl_twitter,fl_twitch,desc_country,dt_birth,dt_registration
0,1,0,0,0,cl,None,2021-03-19 21:31:39
1,2,0,0,0,br,None,2020-05-06 19:28:29
2,3,0,0,0,br,None,2020-01-28 13:00:38
3,4,0,0,0,br,None,2017-05-31 16:13:51
4,5,0,0,0,ar,None,2021-02-08 11:57:21
...,...,...,...,...,...,...,...
2711,2712,0,0,0,br,2000-03-03 00:00:00,2021-03-07 17:24:26
2712,2713,0,0,0,br,None,2019-07-12 03:32:47
2713,2714,0,0,0,br,2000-06-23 00:00:00,2017-09-12 22:43:37
2714,2715,0,0,0,br,2001-02-21 00:00:00,2019-04-28 12:18:47
2715,2716,0,0,0,br,1999-12-04 00:00:00,2018-05-14 13:52:06

    id_medal                             desc_medal desc_type_medal
0          1                         Membro Premium           MEDAL
1          2                                  Elite           MEDAL
2          3                            Membro Plus           MEDAL
3          4                      Bom Comportamento           MEDAL
4          5              Já conquistou 25 Vitórias           MEDAL
5          6                    Pilar da Comunidade           MEDAL
6          7              Já conquistou 10 Vitórias           MEDAL
7          8                           Tribo Gaules           MEDAL
8          9     Terminou o tutorial da Gamers Club           MEDAL
9         10                            Bomberman 1           MEDAL
10        11                        Clutch Master 1           MEDAL
11        12                         Fast Trigger 1           MEDAL
12        13                             Invictus 1           MEDAL
13        14                        King Of Lobby 1           MEDAL
14        15  Eu participei - Perfil Made In Brazil           MEDAL
15        16                      Horas Verificadas           MEDAL
16        17                            Bomberman 2           MEDAL
17        18                        Clutch Master 2           MEDAL
18        19                         Fast Trigger 2           MEDAL
19        20                             Invictus 2           MEDAL
20        21                        King Of Lobby 2           MEDAL
21        22                            Brotherhood           MEDAL
22        23                            Bomberman 3           MEDAL
23        24                         Fast Trigger 3           MEDAL
24        25                             Invictus 3           MEDAL
25        26                        King Of Lobby 3           MEDAL
26        27                         Fast Trigger 4           MEDAL
27        28                        King Of Lobby 4           MEDAL
28        29                                  Prime           MEDAL
29        30                                 Rookie           MEDAL
30        31                                 Legend           MEDAL
31        32     Gamers Club Awards 2019 - Eu Votei           MEDAL
32        33                              Aspirante           MEDAL
33        34                         2k20 na Cabeça           MEDAL
34        35                 Experiência de Batalha           MEDAL
35        36                           Safe do Safe           MEDAL
36        37                        Missão da Tribo           MEDAL
37        38                       Closed Beta - X1           MEDAL
38        39                    GamersCard - Silver           MEDAL
39        40                               Fogueira           MEDAL
40        41                               Pescaria           MEDAL
41        42    Coins - Eu participei do BETA GOLD!           MEDAL
42        43  Coins - Eu participei do BETA SILVER!           MEDAL
43        44                          Sobreviventes           MEDAL
44        45                     #YADINHO - Eu Fui!           MEDAL
45        46                          Pedra Violeta           MEDAL
46        47                  PIN Black Friday 2021             PIN

,id_lobby_game,id_player,id_room,qt_kill,qt_assist,qt_death,qt_hs,qt_bombe_defuse,qt_bombe_plant,qt_tk,...,qt_flash_assist,qt_hit_headshot,qt_hit_chest,qt_hit_stomach,qt_hit_left_atm,qt_hit_right_arm,qt_hit_left_leg,qt_hit_right_leg,fl_winner,dt_created_at
0,1,1,1,5,1,16,2,0,0,0.0,...,0.0,3.0,13.0,4.0,2.0,2.0,1.0,0.0,0,2022-01-21 19:45:44
1,2,1,2,24,3,18,6,0,4,0.0,...,0.0,7.0,26.0,14.0,2.0,1.0,1.0,3.0,1,2022-02-04 02:09:47
2,3,2,3,6,4,23,2,0,1,0.0,...,0.0,3.0,15.0,8.0,1.0,2.0,0.0,2.0,0,2021-09-18 18:07:43
3,3,391,27508,10,5,20,4,1,0,0.0,...,0.0,6.0,27.0,10.0,1.0,7.0,6.0,6.0,1,2021-09-18 18:07:43
4,4,2,4,8,4,26,6,0,2,0.0,...,2.0,8.0,19.0,12.0,2.0,3.0,2.0,5.0,0,2021-09-27 00:17:45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184147,172907,2716,178496,21,3,13,5,1,1,0.0,...,0.0,7.0,42.0,26.0,1.0,4.0,6.0,2.0,1,2021-11-27 16:47:57
184148,172908,2716,178497,15,1,22,5,0,1,0.0,...,0.0,5.0,21.0,21.0,3.0,7.0,2.0,4.0,1,2021-12-10 01:08:48
184149,172909,2716,178498,9,6,23,2,0,3,0.0,...,0.0,3.0,25.0,12.0,1.0,5.0,6.0,7.0,0,2022-01-09 21:01:10
184150,172910,2716,178499,15,5,20,6,0,2,0.0,...,1.0,8.0,22.0,16.0,2.0,8.0,3.0,6.0,0,2022-01-14 17:42:37
184151,172911,2716,178500,12,6,11,4,0,1,0.0,...,0.0,7.0,17.0,9.0,5.0,4.0,6.0,1.0,1,2022-01-18 02:39:01

Processo finalizado com sucesso - 2022-11-13 18:18:39.463398